
<p>
  <strong>Story:</strong>
  <%= @message.page %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Link:</strong>
  <%= @message.link %>
</p>

<p>
  <strong>Author:</strong>
  <%= @message.author %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', page_messages_path(@message.page) %>
