<%= form_for([@flr, @group]) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :user_id , :value => current_user.id %>
  <%= form.hidden_field :flr_id, :value => @current_flr.id %>
  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  <div class="field">
    <%= form.label :last_update %>
    <%= form.text_area :last_update, placeholder: 'Последний раз колонка была обновлена...' %>
  </div>
  <div class="field">
    <%= form.label :motivation_text %>
    <%= form.text_area :mot_text, placeholder: 'текст, который будет отображаться в колонке под названием' %>
  </div>
  <div class="field">
    <%= form.label :all_stories %>
    <%= form.text_area :all_stories, placeholder: 'весь список рассказов из колонки с рапределением по группам. программа сама разделит, но можно будет добавлять по одному, если не сработает' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
