[subtitle]Добро пожаловать в группу №<%= @group.number %>[/subtitle]
<%=@group.mot_text  %>

<%=@group.last_update  %>

<% n = @group.stories.count+1  %>
<a name='r<%= n %>'>[b]Читать отзывы:[/b]</a>

<% @group.stories.each_with_index do |s, i| %>
<% i+=1 %>
[*][LINK=#r<%= i %>]<%= i %>. <%= s.name %> [/link] – количество отзывов: <%= s.reviews.count %>
<% end %>

Всего отзывов: <%= @group.reviews.count - @general.reviews.count %>

[cut=]
<p class=abzac><div class='t2'> </div></p>

Наши чемпионы:
<% author_count.sort_by { |_a, c| c }.reverse.each do |a, c| %>
<%= a %> - <%= grammatical_case(c) %>  <%= general_review.has_key?(a) ? '(+1 общий)' : nil %>
<% end %>

<% general_review.each do |a,c| %>
<% if author_count.has_key?(a) %>
<% else  %>
<%= a %> - 1 общий 
<% end  %>
<% end  %>

<p class=abzac><div class='t2'> </div></p>

[b]О Т З Ы В Ы[/b]
<% @group.stories.each_with_index do |s, i| %>
<% i+=1 %>
<a name='r<%= i %>'>[subtitle]<%= i %>. <%= s.name %> [/subtitle]</a>
[LINK=#r<%= n %>]Вернуться к началу [/link]
[PHOTOSMALL<%=i+1%>]
<% s.reviews.each_with_index do |r, i|  %>
<% i+=1 %>
<%= i %>. [URL=<%= r.link %>]<%= r.author %>[/URL]
<%= r.text %>
<% end  %>
<% end  %>
[/cut]