[subtitle]Добро пожаловать в группу №<%= @group.number %>[/subtitle]
<%=@group.mot_text  %>
<% n = @group.stories.count+1  %>
<a name='r<%= n %>'>[b]Читать отзывы:[/b]</a>

<% @group.stories.each_with_index do |s, i| %>
<% i+=1 %>
[*][LINK=#r<%= i %>]<%= i %>. <%= s.name %> [/link] – количество отзывов: <%= s.reviews.count %>
<% end %>

Всего отзывов: <%= @group.reviews.count %>


[cut=]
<p class=abzac><div class='t2'> </div></p>
Наши чемпионы:
<% author_count(@group).each do |a, c| %>
<%= a %> - <%= grammatical_case(c) %>
<% end %>

<p class=abzac><div class='t2'> </div></p>

[b]О Т З Ы В Ы[/b]
<% @group.stories.each_with_index do |s, i| %>
<% i+=1 %>
<a name='r<%= i %>'>[subtitle]<%= i %>. <%= s.name %> [/subtitle]</a>
[LINK=#r<%= n %>]Вернуться к началу [/link]
[PHOTOSMALL<%=i+1%>]
<% s.reviews.each_with_index do |r, i|  %>
<% i+=1 %>
<%= i %>. [URL=<%= r.link %>]<%= r.author %>[/URL]
<%= r.text %>
<% end  %>
<% end  %>
[/cut]