
<h1><%= "КУРАТОР: " + @group.user.email %></h1>
<%= link_to("Посмотреть колонку", show_column_group_path(@group)) %> 
<h2><%= "ФЛР: " + @group.flr.number.to_s %></h2>
<p><strong>Группа номер:</strong>
  <%= @group.number %>
</p>

<p>
  <strong>Название:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Цвет:</strong>
  <%= @group.color %>
</p>
<%= link_to 'Редактировать', edit_group_path(@group) %> |
<%= link_to 'Добавить рассказ', new_group_story_path(@group) %>
<br>
<br>

<%= render 'shared_views/stories' %>


