

<div class="row">
	<div class="column-2">
	  <% if current_user  %>
        <p><%= current_user.email %></p>
        <% if current_user.admin?  %>
          <p>user is admin</p>
        <% end %>  
        <%= link_to("Выйти", destroy_user_session_path, method: :delete) %>
    
      <% else %>
        <%= link_to("Зарегистрироваться", new_user_registration_path) %>
        <%= link_to("Войти", new_user_session_path ) %>
      <% end %>
</div>

	<div class="column-8">
		<h2>Инструкция</h2>
		<ol>
			<li>Войдите или зарегистрируйтесь (настоящий email не надо, главное, чтоб выглядело как email. Например: "slad-ko@example.com
			пароль от 6 знаков</li>
			<li>Зайдите во вкладку <%= link_to("Текущая ФЛР", flr_path(@current_flr) )  %></li>
			<li>Нажмите кнопку "Последняя страница на форуме". Так прога будет знать, сколько всего страниц в лабе на данный момент.</li>
			<li>Перейдите по ссылке "Все страницы". Там список всех загруженных страниц. </li>
			<li>Если всего на форуме страниц больше, чем в базе, нажмите кнопку "получить все страницы". Проверьте по списку страниц, что подгрузились все. Если нет: </li>
			<ol type="a"><li>подождите пару минут и попробуйте еще раз</li>
				<li>свяжитесь со мной, я проверю, в чем дело</li></ol>
			<li>Возле каждой страницы есть число сообщений и кнопка "разобрать на сообщения". Если сообщений 0 - смело жмите разобрать на сообщения</li>
			<li><strong>Пункты 3-6 у всех общие, так что выполнять их постоянно не придётся )</strong></li>
			<li> Зайдите во вкладку <%= link_to("Текущая ФЛР", flr_path(@current_flr) ) %>  </li>
			<li>Нажмите "Создать группу" </li>
			<ol type="a">

				<li>Заполняете все поля</li>
				<li>Окно "Все рассказы" принимает список из авторской колонки</li>
				<li>Жмёте "Создать группу"</li>			
			</ol>

			<li>Колонка уже создана. Жмите "посмотреть колонку". Содержимое страницы просто копируется и вставляется в вашу авторскую колонку на фантлабе</li>
			<li>"Общие впечатления" можно добавить как "новый рассказ". Правила добавления туда отзывов такие же</li>
			<li>У рассказа (вобщей таблице и на его странице) есть кнопка "редактировать" - там же, в редактировании можно добавлять отзывы</li>
			<li>Вставляете <strong>только текст</strong> отзыва, ссылку и автора отзыва прога подтянет САМА</li>
			<li>если что не вставилось надо:
				<ol type="a"><li>Проверить, скачаны ли сообщения для этой страницы</li>
				<li>связаться со мной</li>
			</ol></li>
		</ol>
	</div>
</div>