<%= form_with(model: flr, local: true) do |form| %>
  <% if flr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flr.errors.count, "error") %> prohibited this flr from being saved:</h2>

      <ul>
      <% flr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :current %>
    <%= form.check_box :current, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :info %>
    <%= form.text_field :info, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :number %>
    <%= form.number_field :number, class: 'form-control', :step => 0.5 %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
