<p id="notice"><%= notice %></p>

<h1>Flrs</h1>

<table>
  <thead>
    <tr>Номер</tr>
    <tr>Инфо</tr>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flrs.each do |flr| %>

      <tr>
        <td><%= flr.number %></td>
        <td><%= flr.current %></td>        
        <td><%= link_to 'Show', flr %></td>
        <td><%= link_to 'Edit', edit_flr_path(flr) %></td>
        <td><%= link_to 'Destroy', flr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flr', new_flr_path %>
