<!-- <p>Текущая <%= @flr.current %></p> -->
<p>ФЛР № <%= @flr.number %></p>
<p>Первая страница: <%= @flr.first_page %></p>
<p>Последняя страница: <%= @flr.last_page %></p>
<p>Страниц в базе: <%= @flr.pages.count %></p>
<%= link_to("Ссылка на форум", @flr.link, target: "_blank") %> 
<p> Дата<%= @flr.start_date %></p>
<%= link_to 'Edit', edit_flr_path(@flr) %> |
<%= link_to 'Back', flrs_path %>

<br>
<%= link_to "Последняя страница на форуме ФЛР #{@flr.number}", [:retrieve_last_page, @flr], method: :post, class: "button-like show-column" %> 
<%= render 'shared_views/groups' %>
