<p id="notice"><%= notice %></p>
<%= @flr.current %>
<%= @flr.number %>
<%= @flr.info %>
<%= @flr.link %>
<%= @flr.start_date %>
<%= link_to 'Edit', edit_flr_path(@flr) %> |
<%= link_to 'Back', flrs_path %>
