<p id="notice"><%= notice %></p>

<h1>Pages</h1>
<h2><%= @flr.number %></h2>
<%= button_to 'Получить все страницы',  {action: "all_pages"} %>
<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Number</th>
      <th>link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.body[500..1000] %></td>
        <td><%= page.number %></td>
        <td><%= page.link %></td>
        <td><%# link_to 'Show', page %></td>
        <td><%# link_to 'Edit', edit_page_path(page) %></td>
        <td><%# link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Page', new_page_path %>
