<h1>ФЛР № <%= @flr.number %></h1>
<p>Первая страница: <%= @flr.first_page %></p>
<p>Последняя страница: <%= @flr.last_page %></p>
<p>Страниц в базе: <%= @flr.pages.count %></p>
<%= link_to("Ссылка на форум", @flr.link, target: "_blank") %> 
<br>
<%= button_to 'Получить все страницы',  {action: "get_all_pages"} %>
<br>
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Body</th>
      <th>Ссылка на страницу на форуме</th>
      <th class="counter">Сообщений на странице</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.number %></td>
        <td><%= page.body[700..900] %></td>
        <td><%= link_to("Ссылка на страницу № #{page.number} ", page.link, target: "_blank") %></td>
        <td class="counter"><%= page.messages.count %>
          <%= link_to 'Обновить страницу', update_full_page_page_path(page), method: :post, class: "button" %>
        </td>
        <td><%= link_to 'Посмотреть все сообщения', page %></td>
        <td><%= link_to 'Разобрать на сообщения', get_all_messages_page_messages_path(page), method: :post, class: "button" %></td>
        <td><%= link_to 'Удалить', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


