<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Number:</strong>
  <%= @page.number %>
</p>

<p>
  <strong>Flr:</strong>
  <%= @page.flr %>
</p>

<%= link_to 'Edit', edit_flr_page_path([@flr, @page]) %> |
<%= link_to 'Back', flr_pages_path %>
