
<div class='nested-fields'>
  <h3>Отзыв</h3>
  <%= f.hidden_field :group_id, :value => @story.group.id %>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <%= link_to_remove_association "Удалить отзыв", f %>
</div>
