<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Группа:</strong>
  <%= "Группа № #{@story.group.number} - #{@story.group.color} (#{@story.group.name})" %>
</p>

<%= render 'shared_views/reviews' %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', group_stories_path(@story.group) %>
