<h1><%= @story.name %></h1>

<p>
  <strong>Группа:</strong>
  <%= "Группа № #{@story.group.number} - #{@story.group.color} (#{@story.group.name})" %>
</p>
<p>
	<%= grammatical_case(@story.reviews.count) %> 
</p>


<%= link_to 'Редактировать рассказ/отзывы', edit_story_path(@story) %> |
<%= link_to 'Назад к списку рассказов', group_path(@story.group) %> |
<%= link_to 'Добавить отзыв', new_story_review_path(@story) %>
<br>
<br>
<%= render 'shared_views/reviews' %>

