<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Группа:</strong>
  <%= "Группа № #{@story.group.number} - #{@story.group.color} (#{@story.group.name})" %>
</p>

<%= link_to 'Edit', edit_group_story_path(@group, @story) %> |
<%= link_to 'Back', group_stories_path %>
