<p>
  <strong>Story:</strong>
  <%= @review.story %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>Link:</strong>
  <%= @review.link %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', story_reviews_path(@review.story) %>
