<!DOCTYPE html>
<html>
  <head>
    <title>FlrCounter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar">
      <li class="navbar"><%= active_link_to("Главная", root_path, active: :exclusive )  %> </li>
      <% if @current_flr.nil? %>
      <li class="navbar"><%= link_to("Создать ФЛР", new_flr_path)  %> </li>
      <% else  %>
      <li class="navbar"><%= active_link_to("Текущая ФЛР", flr_path(@current_flr), active: :exclusive )  %> </li>
      <li class="navbar "><%= active_link_to("Все страницы", flr_pages_path(@current_flr) )  %> </li>
      <% end %>
      <% if user_signed_in? && @current_flr%>
        <% if  @my_group.nil? %>
          <li class="navbar"><%= link_to("Создать группу", new_flr_group_path(@current_flr) )  %> </li>
        <% else %>
          <li class="navbar"><%= active_link_to("Моя группа", group_path(@my_group), active: [['groups', 'stories', 'reviews'], []] )  %> </li>
          <li class="navbar"><%= link_to("Посмотреть колонку", show_column_group_path(@my_group), target: "_blank") %> </li>
        <% end %>
      <li class="navbar float-right"><%= link_to("Выйти", destroy_user_session_path, method: :delete) %> </li>
      <% end %>


    </ul>
    <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
